<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hot Finds</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <div class="header">
      Mission to Mars
      Button Placeholder
  </div>

</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Latest Mars News</h1>
            {{mars_intel.article_info}}
        </div>
        <div class="row">
            <div class="col-md-7">
                <img class="img float-left" src={{mars_intel.featured_image}} alt="Featured Image">
            </div>
            <div class="col-md-5">
                <img class="img float-left" src="mars_facts_table.html" alt="Featured Image">
            </div>
        </div>
        <div class="row">
            <div class="card">
                hemispheres placeholder
            </div>
        </div>
    </div>
</body>